<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="dev.datlag.burningseries.READ_DATABASE" />

    <queries>
        <package android:name="dev.datlag.burningseries" />
        <provider android:authorities="dev.datlag.burningseries.provider" />
    </queries>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.ethernet"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="@string/app_name"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true"
        android:appCategory="news"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:visibleToInstantApps="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <receiver android:name=".other.BurningSeriesReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.datlag.aniflow.BS_BROADCAST" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="instantapps.clients.allowed"
            android:value="true"/>

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="GNU AFFERO GENERAL PUBLIC LICENSE Version 3" />
    </application>
</manifest>